@media screen and (min-width:500px) and (max-width:950px) {
    * {
        border: 1px solid rgb(205, 135, 214);
    }

    li {
        font-size: 1.5vw;
    }
    
    p {
        font-size: 1.5vw;
    }
    
    a {
        font-size: 1.5vw;
    }
    
    h1 {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 3vw;
    }
    
    h3 {
        font-size: 2vw;
    }
    
    h1 {
        font-weight: 500;
    }
}